h1 {
  color: #6a75ca;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
header {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #6a75ca;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header ul > li {
  font-size: 15px;
  color: #eff2f8;
}
body {
  background-color: #ffffff;
  padding-top: 45px;
}
.banner {
  background-color: #eff2f8;
  text-align: center;
  padding: 30px;
}
.banner h1 {
  color: #6a75ca;
  margin: 0px;
}
.highlight {
  -webkit-text-stroke: 0.5px #fff;
  color: #4ab6ff;
}
.banner img {
  width: 120px;
  margin-top: -10px;
  rotate: 20deg;
}
.profile-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: -15px;
}
.profile-image img {
  width: 100px;
  margin-left: 8px;
}
.about-container {
  display: flex;
  margin: auto;
  width: 800px;
}
.profile-card {
  background-color: white;
  padding: 60px 30px;
  margin: 20px;
  width: 300px;
  text-align: center;
}
.profile-detail {
  background-color: #eaeaea;
  color: midnightblue;
  padding: 25px;
  margin: 20px;
  width: 200px;
  height: 100px;
}
.profile-detail h4 {
  color: midnightblue;
  font-size: 20px;
  height: fit-content;
  margin: 0;
}
.about h2 {
  text-align: center;
  font-size: 3em;
  color: #6a75ca;
}
.about h3 {
  font-size: 2em;
  color: #6a75ca;
}
.contact-info {
  font-size: 1rem;
}
.contact-info img {
  width: 30px;
  height: 30px;
  align-self: center;
}
.email {
  width: 40px !important;
  height: 40px !important;
}
.contact-item {
  display: flex;
  gap: 10px;
  align-self: center;
  border-bottom: 1px solid #000;
}
#location-wrapper {
  border: none;
}
.goal {
  text-align: center;
  margin-top: 30px;
}

.goal-title {
  font-size: 50px;
  font-weight: bold;
  color: #6a75ca;
}

.goal-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.goal-card {
  width: 200px;
  height: 280px;
  background-color: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #6a75ca;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.card-detail {
  padding: 20px;
  text-align: center;
}

.card-thumbnail {
  width: 140px;
  height: 140px;
  margin: auto;
  border: 1px solid #ffffff;
}

.card-text {
  font-size: 12px;
  color: rgb(6, 60, 114);
  line-height: 1.5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(83, 81, 81);
  color: white;
  margin-top: 30px;
}

.footer-icons {
  display: flex;
  gap: 10px;
  margin-right: 300px;
}

.icon {
  width: 35px;
  height: 35px;
  background-color: white;
}

.footer-text {
  font-weight: bold;
  font-size: 20px;
}

.contact-title {
  font-size: 50px;
  font-weight: bold;
  color: #6a75ca;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contact-card {
  width: 400px;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}
.contact-card p {
  font-size: 20px;
  text-align: center;
  margin: auto;
}

#spain-thumb {
  background: url(./assets/스페인.webp);
  background-size: cover;
}
#exam-thumb {
  background: url(./assets/시험.jpg);
  background-size: cover;
}
#play-thumb {
  background: url(./assets/놀기.jpeg);
  background-size: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-contents {
  background-color: #ffffff;
  width: 70%;
  max-width: 500px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

#modal-thumbnail {
  width: 400px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: #6a75ca;
  border-radius: 16px;
  color: #eff2f8;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.btn:hover {
  background-color: #eff2f8;
  color: #6a75ca;
}
.add-btn,
.delete-btn {
  border-radius: 16px;
  font-size: 18px;
  color: white;
  background-color: #6a75ca;
  border: none;
  border-radius: 5px;
}

.add-btn:hover,
.delete-btn:hover {
  color: #ffffff;
}

input {
  font-size: 15px;
  color: #222222;
  width: 300px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

input::placeholder {
  color: #aaaaaa;
}
input:focus {
  outline: none;
}

span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%; /* right로만 바꿔주면 오 - 왼 */
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}
label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all 0.2s;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

input:focus ~ span,
input:valid ~ span {
  width: 100%;
}
