.music h2 {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #97c99a, #d5ebb4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  z-index: 10;
  padding: 50px 20px;
  border-radius: 10px;
}

.music-container {
  margin-top: 100px;
  padding: 100px;
  flex: 2; /* 오른쪽 영역을 더 넓게 설정 */
  display: grid;
  grid-template-columns: 1fr 1fr; /* 공백으로 변경 */
  gap: 50px;
  width: 100%;
}

.music-item {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  font-size: 1.2em;
  color: #333333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.music-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.music-item h4 {
  font-size: 1.6em;
  color: #75ae74;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.music {
  padding: 0;
  height: 100vh; /* 화면 꽉 채우기 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #ffffff,
    #bee2a6
  ); /* 세련된 배경 그라데이션 */
  text-align: center;
  position: relative;
}
